body {
    background: var(--page-background);
}
//once
.home-once-active {
    transition: opacity 1s ease;
}
.home-once {
    opacity: 0;
}
.home-once-to {
    opacity: 1;
}
//leave
.home-leave-active {
    transition: all 1s var(--easing);
}
.home-leave {
    transform: translateX(0);
}
.home-leave-to {
    transform: translateX(100%);
}

//enter
.home-enter-active {
    transition: all 1s var(--easing);
}
.home-enter {
    transform: translateX(-100%);
}
.home-enter-to {
    transform: translateX(0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
